@{
    ViewData["Title"] = "社員管理システム";
}
<div d-flex align-items-center>
    <form asp-area="" asp-controller="Employee" asp-action="EmployeeList" method="get">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit" id="top-button">社員管理</button>
        </div>
    </form>
    <form asp-area="" asp-controller="Department" asp-action="DepartmentList" method="get">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">部署管理</button>
        </div>
    </form>
    <form asp-area="" asp-controller="Admin" asp-action="AdminRegister" method="get">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">ユーザー管理</button>
        </div>
    </form>
</div>